body{color:rgba(255,255,255,.87);background-color:#4f4b4b;margin:3rem}
button{border:none;padding:10px 15px;border-radius:5px;box-shadow:none;outline:0;cursor:pointer;margin:5px;font-weight:700}
button:hover{background-color:#d68b8b;color:#000;box-shadow:0 0 5px 0 rgba(0,0,0,.5)}
.btn_div{display:flex;align-items:center;gap:1rem}
h1,h2,h3,h4,h5,h6{font-weight:bolder;font-size:32px;color:#000}
p{
    margin-bottom: 0;
}